---
---
{% include header.html %}

<h2>
<a id="this-is-another-test" class="anchor" href="#this-is-another-test" aria-hidden="true"><span class="octicon octicon-link"></span></a>This is another test</h2>

<h3>
<a id="because" class="anchor" href="#because" aria-hidden="true"><span class="octicon octicon-link"></span></a>Because...</h3>

<p>It seems that this way Github will take care of putting Jeckyll into place without me being force to install gem.</p>

<h3>
<a id="and-also" class="anchor" href="#and-also" aria-hidden="true"><span class="octicon octicon-link"></span></a>And also</h3>

<p>I'm just procrastinating :)</p>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    {{ post.excerpt }}
  </li>
  {% endfor %}
</ul>
{% include footer.html %}
